#!/bin/csh -f

#
# Task-specific configuration file
#

cd `dirname $0` && source ./Configuration

setenv ANNOTDATADIR		/data/loads/swissprot/swissload/data
setenv ANNOTMODE		preview
setenv ANNOTTYPENAME		"InterPro/Marker"
setenv ANNOTFILE		${ANNOTDATADIR}/interprosp.txt
setenv DELETEREFERENCE		"J:0"

