#!/bin/csh -f

#
# An example of a task-specific configuration file
#

cd `dirname $0` && source ./Configuration

setenv ANNOTDATADIR		/data/loads/swissprot/swissload/data
setenv ANNOTMODE		preview
setenv ANNOTTYPENAME		"InterPro/Marker"
setenv ANNOTFILE		${ANNOTDATADIR}/interprosp.txt
setenv ANNOTLOG			${ANNOTFILE}.log
setenv DELETEREFERENCE		"J:0"

