#!/bin/csh -f

#
# An example of a task-specific configuration file
#

source ${ANNOTLOAD}/Configuration

setenv ANNOTDATADIR		/data/reports/reports_db/output/goa
setenv ANNOTMODE		preview
setenv ANNOTTYPENAME		"GO/Marker"
setenv ANNOTINPUTFILE		${ANNOTDATADIR}/goa.annot
setenv ANNOTLOG			${ANNOTINPUTFILE}.log
setenv DELETEREFERENCE		"J:0"
setenv DELETEUSER		GOA
setenv ANNOTOBSOLETE		0

setenv GOADIR                   /data/reports/reports_db/output/goa
setenv GOAWORKDIR               ${PUBRPTS}/goa
setenv GOAINPUTFILEGZ           /data/downloads/ftp.ebi.ac.uk/pub/databases/GO/goa/MOUSE/gene_association.goa_mouse.gz
setenv GOAINPUTFILE             ${GOADIR}/gene_association.goa_mouse
setenv GOAEDITOR		GOA

